<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  
    <!--<authorization>    
           <allow roles="Admin" />    
           <deny users="*"/>    
      </authorization>-->  
  
  
  
    </system.web>

<appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
<connectionStrings>
<add name="constrMOM" connectionString="Server=01HW1025974\ANAND;Database=MOM;User ID=sa;Password=admin@22;Trusted_Connection=False;"  providerName="System.Data.SqlClient"/> 
</connectionStrings>

<location path="Mom_Admin.aspx"> <!-- Path of your Mom_Admin.aspx page -->
<system.web>
<authorization>
<allow users="admin"/>
<deny users="?"/> 
</authorization>
</system.web>
</location>
</configuration>